.chat
  .users-container
    h2 USERS
    .users-list
  .conversation-container
    .clear-data
      input.clear-chat(type="button", value="Clear Chat")
      input.clear-canvas(type="button", value="Clear Canvas")
    .conversation
    input.data
    input#datasend(type="button", value="send")
.canvas-container
  canvas#user-canvas(height="500", width="500")
  canvas#socket-canvas(height="500", width="500")
