body {
  margin:0;
  background-color: #000;
}

a {
  color: #00B7FF;
}

h2 {
  margin-top:0;
}

canvas {
  cursor: none;
  position:absolute;
  top:0;
  /*left:441px;*/
}

#user-canvas {
  z-index:500;
}

#socket-canvas {
  z-index:1;
}

.chat {
  background-color:rgba(120,120,120,.5);
  position:absolute;
  top:0;
  color:#eee;
  z-index:900;
}

.users-container {
  display:inline-block;
  vertical-align:top;
  width:100px;
  border-right:1px solid #ccc;
  height:100%;
  padding:10px;
  overflow:scroll-y;
}

.users-container .users-list {

}

.conversation-container {
  display:inline-block;
  vertical-align:top;
  width:300px;
  height:100%;
  overflow:scroll-y;
  padding:10px;
}

.conversation-container .conversation {

}

.conversation-container .data {
  width:200px;
}
